<!--
  Generated template for the VideoListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{title}} (<span>{{videoList.length}}</span>/<span>{{videoTotalCount}}</span>)
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchBox()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar placeholder="请输入关键字" *ngIf="showSearchBox" [showCancelButton]="false" [(ngModel)]="searchInput"
    [showCancelButton]="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <div *ngIf="videoList.length <= 0">
    <span>没找到视频哦!</span>
  </div>
  <div *ngIf="videoList.length > 0">
    <video-card [onlyShowCover]="true" [video]="video" *ngFor="let video of videoList" (tap)="showVideoInfo(video)"></video-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="enableScrollLoad">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-fab right bottom>
    <button color="primary" ion-fab>
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goToTop()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </button>
      <button ion-fab (click)="getLuckVideo()">
        <ion-icon name="happy"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>